# Remote Target Server connection details
SSH_VM_HOST=your_remote_vm_ip
SSH_VM_USERNAME=your_ssh_username
SSH_VM_KEY_NAME=your_key_name.pem

# Azure VM configuration details
AZURE_SUBSCRIPTION_ID=your-azure-subscription-id
AZURE_RESOURCE_GROUP=your-azure-resource-group
AZURE_VM_NAME=your-azure-vm-name
